<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ramazan_Vakti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ramazan_Vakti.Properties.Settings>
            <setting name="reminder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedCity" serializeAs="String">
                <value>İstanbul</value>
            </setting>
        </Ramazan_Vakti.Properties.Settings>
    </userSettings>
</configuration>